* text=auto !eol
BuildProcessTemplates/DefaultTemplate.11.1.xaml -text
BuildProcessTemplates/DefaultTemplate.xaml -text
BuildProcessTemplates/UpgradeTemplate.xaml -text
main/Microsoft.Practices.ServiceLocation.Silverlight.sln -text
main/Microsoft.Practices.ServiceLocation.Silverlight/Microsoft.Practices.ServiceLocation.Silverlight.csproj -text
main/Microsoft.Practices.ServiceLocation.sln -text
main/Microsoft.Practices.ServiceLocation/ActivationException.Desktop.cs -text
main/Microsoft.Practices.ServiceLocation/ActivationException.cs -text
main/Microsoft.Practices.ServiceLocation/IServiceLocator.cs -text
main/Microsoft.Practices.ServiceLocation/Microsoft.Practices.ServiceLocation.csproj -text
main/Microsoft.Practices.ServiceLocation/Properties/AssemblyInfo.Desktop.cs -text
main/Microsoft.Practices.ServiceLocation/Properties/AssemblyInfo.cs -text
main/Microsoft.Practices.ServiceLocation/Properties/Resources.Designer.cs -text
main/Microsoft.Practices.ServiceLocation/Properties/Resources.resx -text
main/Microsoft.Practices.ServiceLocation/Readme.txt -text
main/Microsoft.Practices.ServiceLocation/ServiceLocator.cs -text
main/Microsoft.Practices.ServiceLocation/ServiceLocatorImplBase.cs -text
main/Microsoft.Practices.ServiceLocation/ServiceLocatorProvider.cs -text
